<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login Beta</title>

   

  </head>

          <form action="{{ path('login') }}" method="post">
            <div class="form-group">
              <div class="form-label-group">
                <input type="text" id="username" name="_username" class="form-control" >
                <label>Usuario</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input type="password" id="password" name="_password" class="form-control" >
                <label>Contraseña</label>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
              </div>
            </div>
          <button class="btn btn-primary btn-block"  type="submit">Login</button>
           
          </form>
              admin:admin
       
   

  </body>
</html>
