{% extends 'base.html.twig' %}

{% block body %}
    <h1>Clientes</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fechanacimiento</th>
                <th>Fecharegistro</th>
                <th>Isactivo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td><a href="{{ path('cliente_show', { 'id': cliente.id }) }}">{{ cliente.id }}</a></td>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.apellido }}</td>
                <td>{% if cliente.fechanacimiento %}{{ cliente.fechanacimiento|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if cliente.fecharegistro %}{{ cliente.fecharegistro|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if cliente.isactivo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cliente_show', { 'id': cliente.id }) }}">Detalles</a>
                        </li>
                        <li>
                            <a href="{{ path('cliente_edit', { 'id': cliente.id }) }}">Editar</a>
                        </li>
                         <li>
                              <a href="{{ path('cliente_nuevoDocumento', { 'id': cliente.id }) }}">Documentos</a>
                        </li>
                      
                         <li>
                               <a href="{{ path('cliente_nuevaDireccion', { 'id': cliente.id }) }}">Direcciones</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cliente_new') }}">Nuevo Cliente</a>
        </li>
    </ul>
          
{% endblock %}
