{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cliente</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cliente.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ cliente.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ cliente.apellido }}</td>
            </tr>
            <tr>
                <th>Fechanacimiento</th>
                <td>{% if cliente.fechanacimiento %}{{ cliente.fechanacimiento|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fecharegistro</th>
                <td>{% if cliente.fecharegistro %}{{ cliente.fecharegistro|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Isactivo</th>
                <td>{% if cliente.isactivo %}Yes{% else %}No{% endif %}</td>
            </tr>
              <tr>
                <th>Documentos</th>
                 {% for documento in documentos %}
                     <td>{{ documento.idtipodocumento.descripcion}}:{{ documento.numerodocumento}}{% if documento.isprincipal %}*{% endif %}</td>
                {% endfor %}
            
            </tr>
              <tr>
                <th>Documentos</th>
                 {% for direccion in direcciones %}
                     <td>{{direccion.direccion }}{% if direccion.isprincipal %}*{% endif %}</td>
                {% endfor %}
            
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cliente_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('cliente_edit', { 'id': cliente.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
