<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bienvenido{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="wrapper">
            <div id="container">
                {% block top %}
                <h1>Bienvenido!  </h1>
 
                     {% if  app.user is not null %}
                         --Menu--
                         <p>
                             <a href="{{ path('cliente_index') }}">Clientes</a> --
                              <a href="{{ path('tipodocumento_index') }}">Tipo Documentos</a> --
                              <a href="{{ path('exportarClienteDocumento') }}">CSV Clientes con Documentos</a> --
                              <a href="{{ path('exportarClienteDireccion') }}">CSV Clientes con Direcciones</a> --
                             
                         </p>

                    {% endif %}
                   <hr>
                {% endblock %}
                {% block body %}

                {% endblock %}
                {% block bottom %}
                      <hr>
                    {% if  app.user is not null %}
                        <a href="{{ path('logout')}}">Logout</a>

                    {% else %}
                        <a href="{{ path('login') }}">Login</a>
                    {% endif %}




                {% endblock %}




            </div>
        </div>



        {% block javascripts %}{% endblock %}
    </body>
</html>
