{% extends 'base.html.twig' %}

{% block body %}
Bienvenido:
<p>puedes hacer peticiones a la bitacora en : http://localhost:8000/rest/getBitacora/{var}, donde "var", puede ser el ID del usuario auditado, o enviar "todos" para mostrar todos los registros</p>
ejemplo:

<p>http://localhost:8000/rest/getBitacora/1</p>
<p>http://localhost:8000/rest/getBitacora/todos</p>

o tambien puedes iniciar Sesion:
{% endblock %}


